{% extends 'base.html' %}
{%  load staticfiles  %}

{% load crispy_forms_tags %}

{% block userprofile %}

<li><a href="{% url 'course:course_list' %}"> Course</a></li>        {% endblock %}
{% block login %}


<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="{%static 'img/foundation-of-goodness.png' %}"/> <br>
                <img src="{%static 'img/b1lg1.png' %}"/>
                <h2 class="section-heading">Student Information System </h2>
                <hr class="light">


                <!-- Trigger the modal with a button <img src="{%static 'img/ayubowan.png' %}" width="60" height="60"/>-->
                <!--  <button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#myModal">Click to
                      Login
                  </button>
                  <p class="text-faded">
                      <br>
                  </p>-->

                <!-- Modal -->
                <!-- <div class="modal fade" id="myModal" role="dialog">
                     <div class="modal-dialog modal-sm">
                         &lt;!&ndash; Modal content &ndash;&gt;
                         <div class="modal-content">
                             <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">Foundation of Goodness</h4>
                                 <img src="{%static 'img/foundation-of-goodness.png' %}" width="61" height="75"/>
                                 <img src="{%static 'img/b1lg1.png' %}" height="50"/>
                             </div>
                             <div class="modal-body">



                             </div>
                             <div class="modal-footer">

                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                             </div>
                         </div>

                     </div>-->

            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}