
{% extends 'base.html' %}
{%  load staticfiles  %}

{% load crispy_forms_tags %}

{% block login %}


<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-2 col-md-offset-4">
                <div class="signin-row row">
                    <div class="span8">FOG System</div>
                    <div class="span6">
                        <div class="well well-small well-shadow">
                            <legend class="lead">Login Page</legend>
                            {% crispy form %}
                        </div>

                    </div>
                </div>
                <div class="span8">
                    Welcome to Login page
                </div>
            </div>


        </div>

    </div>


</section>


{% endblock %}